<!-- input -->
<div>
  <h2>
    Input Example
  </h2>
  <label for="ex.input">My input</label>
  <input id="ex.input" name="example" [(ngModel)]="exampleInput" value="" trim="blur"/>
  <button type="button" (click)="onInputSubmit()">Submit!</button>
  <div>
    <pre>Value: {{ exampleInput }} </pre>
  </div>
  <div>
    <span>Length: {{ exampleInput.length }} </span>
  </div>
</div>

<!--textarea-->

<div>
  <h2>
    Textarea Example
  </h2>
  <label for="ex.textarea">My textarea</label>
  <textarea name="ex.textarea" id="ex.textarea" [(ngModel)]="exampleTextarea" cols="30" rows="10"
            trim="blur"></textarea>
  <button type="button" (click)="onTextareaSubmit()">Submit!</button>
  <!--value-->
  <div>
    Value:
    <pre> {{ exampleTextarea }} </pre>
  </div>
  <!--length -->
  <div>
    Length: {{ exampleTextarea.length }}
  </div>
  <!--lines-->
  <div>
    Lines: {{ countLines() }}
  </div>
</div>

