<!-- input -->

<h2 class="mt-5 mb-5">
  Awesome form
</h2>

<div class="card border-dark mx-auto">
  <div class="card-header">
    Trim values on
  </div>
  <div class="card-body text-dark">
    <form novalidate>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="radio" value="input" [formControl]="trigger" id="inputTrigger">
          <label class="form-check-label" for="inputTrigger">
            <code class="ml-1 mr-1">input</code>(default)
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" value="blur" [formControl]="trigger" id="blurTrigger">
          <label class="form-check-label" for="blurTrigger">
            <code class="ml-1 mr-1">blur</code>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<hr>

<form novalidate [formGroup]="exampleForm" class="mx-auto" (ngSubmit)="onSubmit()">
  <!--text-->
  <div class="form-group">
    <label>
      Text.
      <small *ngFor="let key of getKeys(exampleFormInfo['text'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['text'][key]}}; </i>
      </small>
    </label>
    <input formControlName="text" placeholder="text" class="form-control" [trim]="trigger.value"/>
  </div>

  <!--undefined-->
  <div class="form-group">
    <label>
      Model is `undefined`.
      <small *ngFor="let key of getKeys(exampleFormInfo['text_undefined'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['text_undefined'][key]}}; </i>
      </small>
    </label>
    <input formControlName="text_undefined" placeholder="text" class="form-control" [trim]="trigger.value"/>
  </div>

  <!--autofill-->
  <div class="form-group">
    <label>
      Autofill text
      <small *ngFor="let key of getKeys(exampleFormInfo['text_autofill'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['text_autofill'][key]}}; </i>
      </small>
    </label>
    <input name="name" formControlName="text_autofill" placeholder="text" class="form-control" [trim]="trigger.value" autocomplete="on"/>
  </div>

  <!--email-->
  <div class="form-group">
    <label>
      Email.
      <small *ngFor="let key of getKeys(exampleFormInfo['email'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['email'][key]}}; </i>
      </small>
    </label>
    <input formControlName="email" placeholder="email@example.com" type="email" class="form-control"
           [trim]="trigger.value" autocomplete="true"/>
  </div>

  <!-- number -->
  <div class="form-group">
    <label>
      Number
      <small *ngFor="let key of getKeys(exampleFormInfo['number'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['number'][key]}}; </i>
      </small>
    </label>
    <input formControlName="number" placeholder="0" type="number" class="form-control" [trim]="trigger.value"/>
  </div>

  <!-- url -->
  <div class="form-group">
    <label>
      URL
      <small *ngFor="let key of getKeys(exampleFormInfo['url'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['url'][key]}}; </i>
      </small>
    </label>
    <input formControlName="url" placeholder="https://www.github.com" type="url" class="form-control"
           [trim]="trigger.value"/>
  </div>

  <!--textarea-->
  <div class="form-group">
    <label>
      Textarea.(maxLength=10)
      <small *ngFor="let key of getKeys(exampleFormInfo['textarea'])">
        <i><b>{{key | titlecase}}</b>: {{exampleFormInfo['textarea'][key]}}; </i>
      </small>
    </label>
    <textarea formControlName="textarea" placeholder="textarea" class="form-control" [trim]="trigger.value"></textarea>
  </div>

  <div class="right">
    <button>Submit</button>
  </div>

  <hr/>
  <pre>
    <p> Form values {{ exampleForm.value | json }}</p>
    <p> Form status {{ exampleForm.status | json }}</p>
  </pre>

</form>
